@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

@theme {
    --color-font-black: #1f2937;
    --color-font-: #4b5563;
    --color-font-gray: #9ca3af;
    --color-bg-gray: #f3f4f6;
    --color-main-color: #a4bdfc;
    --shadow-all: 0 0 12px 2px #a4bdfc;
}

@layer base {
    :root {
        --color-background-primary: #f9fafb;
        --color-text-primary: #111827;
        --color-text-secondary: #6b7280;
        --color-text-depend: #f3f4f6;
        --color-accent: #6366f1;
        --shadow-accent: 0 0 10px 1px #6366f1;
        --color-border-primary: #f3f4f6;
        --color-layer-background: #ffffff;
    }

    html.dark {
        --color-background-primary: #303033;
        --color-text-primary: #f3f4f6;
        --color-text-secondary: #9ca3af;
        --color-text-depend: #27272a;
        --color-accent: #a4bdfc;
        --shadow-accent: 0 0 12px 2px #a4bdfc;
        --color-border-primary: #52525c;
        --color-layer-background: #39393b;
    }
}
@layer utilities {
    .bg-primary {
        background-color: var(--color-background-primary);
    }
    .text-primary {
        color: var(--color-text-primary);
    }
    .text-secondary {
        color: var(--color-text-secondary);
    }
    .text-accent {
        color: var(--color-accent);
    }
    .shadow-accent {
        box-shadow: var(--shadow-accent);
    }
    .border-primary {
        border-color: var(--color-border-primary);
    }
    .text-depend {
        color: var(--color-text-depend);
    }
    .bg-layer {
        background-color: var(--color-layer-background);
    }
}

@custom-variant dark (&:where(.dark, .dark *));

div {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html,
body {
    font-family: 'Inter', sans-serif;
    overflow: hidden !important;
    height: 100%;
    background: transparent;
}
